<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title class="brand">Global Owner</title>

  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Chango|Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic&display=swap" rel="stylesheet">

  <!--CSS Stylesheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

  <!-- Fixed Bar Section -->
<header>
  <section id="header-bar" >
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark my-navbar justify-content-between">
        <a class="navbar-brand brand" href="/">Global Owner</a>
          <form class="form-inline">
           <a class="nav-link first-menu" href="/countryinfo">Country Info<span class="sr-only">(current)</span></a>
           <a class="nav-link first-menu" href="/mypage">My Property<span class="sr-only">(current)</span></a>
           <a class="btn btn-sm btn-light my-2 my-sm-0 ml-2" href="/register" role="button">Register</a>
           <a class="btn btn-sm btn-light my-2 my-sm-0 ml-2" href="/login" role="button">Login</a>
          </form>
      </nav>
    </div>
  </section>

  <!-- Title Section -->
  <section id="title">

    <div class="container">
      <div class="row title-row">
        <div class="col-lg-6 col-md-6 title-textbox brand">
          <h1>KEEP it</h1>
          <h1>NEAT</h1>
          <h1>EASY</h1>
          <h1>EDGY &</h1>
          <h1>SIMPLE</h1>
        </div>
        <div class="col-lg-6 col-md-6 title-imagebox">
           <img class="title-image" src="" alt="">
        </div>
      </div>
    </div>

  </section>
</header>
